@import "reset";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: #121212;
  color: white;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 3rem;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

h3 {
  font-weight: 500;
  font-size: 2.4rem;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

p {
  font-size: 1.5rem;
}

.rhap_container {
  border-radius: 16px;
}

.rhap_progress-container,
.rhap_volume-container {
  user-select: none !important;
}
